$font-family-base: 'News Cycle', sans-serif;
$font-family-heading: 'chomskyregular', serif;

$font-size-base: 13;
$font-size-heading: 16;
$font-size-base-mobile: 11;
$font-size-heading-mobile: 14;
$line-height: 1.6;

$color-background: #000;
$color-foreground: #f0f0f0;

@font-face {
  font-family: 'chomskyregular';
  src: url('../fonts/chomsky-webfont.woff2') format('woff2'),
    url('../fonts/chomsky-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 1em 0.5em;
  font-family: $font-family-base;
  font-size: $font-size-base / 12 * 100%;
  line-height: $line-height;
  background: $color-background;
  color: $color-foreground;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  color: $color-foreground;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ul,
p {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 7em;
  padding-bottom: 3em;

  a {
    display: block;
    max-width: 260px;
    margin: 0 auto;

    &:hover,
    &:focus {
      border: 0;
    }
  }

  svg {
    width: 100%;
  }
}

nav {
  max-width: 28em;
  margin: 1em auto;
  margin-bottom: 3em;

  ul {
    display: flex;
    justify-content: space-between;
    padding-right: 0.5em;
  }

  li {
    display: block;
    text-transform: uppercase;

    &:first-child {
      font-family: $font-family-heading;
      font-size: $font-size-heading / $font-size-base * 100%;
      text-transform: none;
      margin-top: -0.08em;
    }
  }
}

main {
  max-width: 24em;
  margin: 0 auto;
  padding: 0 2em;

  p {
    text-indent: 3em;
  }

  p:first-child,
  h3 + p {
    text-indent: 0;
  }

  h3 {
    font-size: 100%;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: $line-height * 1em;
    margin-bottom: 0;
    line-height: 1.8;

    &:first-child {
      margin-top: 0;
    }
  }
}

.instafeed {
  display: flex;
  flex-wrap: wrap;

  li {
    display: block;
    width: 33.3%;
    padding: 5px;
    box-sizing: border-box;
  }

  a {
    display: block;
    width: 100%;
    background-size: cover;
    background-position: center;

    &:nth-child(n + 3) {
      margin-right: 0;
    }

    &:after {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }
}

footer {
  padding: 2em 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  body {
    font-size: $font-size-base-mobile / 12 * 100%;
  }

  header {
    a {
      max-width: 230px;
    }
  }

  nav {
    li {
      &:first-child {
        font-size: $font-size-heading-mobile / $font-size-base-mobile * 100%;
      }
    }
  }
}

.form-group {
  margin-bottom: 1em;
}
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}
label {
  display: inline-block;
  margin-bottom: 0.5em;
}
.form-check {
  position: relative;
  padding-left: 1.25rem;
}
.form-check-label {
  margin-bottom: 0;
}
.form-check-input {
  position: absolute;
  margin-top: 0.5em;
  margin-left: -1.25rem;
  padding: 0;
}
.form-control,
button {
  line-height: 1.5;
  border: 1px solid $color-foreground;
  color: $color-foreground;
  background: $color-background;
  padding: 0.5em;
}
.form-control {
  display: block;
  width: 100%;
}
button {
  text-transform: uppercase;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.hidden {
  display: none;
}
