$font-size-base: 13;
$font-size-heading: 18;
$font-size-base-mobile: 11;
$font-size-heading-mobile: 13;
$line-height: 1.6;

$color-background: #000;
$color-foreground: #f0f0f0;

body {
  margin: 1em;
  font-family: 'News Cycle', sans-serif;
  font-size: $font-size-base / 12 * 100%;
  line-height: $line-height;
  background: $color-background;
  color: $color-foreground;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a {
  color: $color-foreground;
  text-decoration: none;

  &.active {
    // text-decoration: line-through;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

ul,
p {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 7em;
  padding-bottom: 3em;

  a {
    display: block;
    max-width: 260px;
    margin: 0 auto;

    &:hover,
    &:focus {
      border: 0;
    }
  }

  svg {
    width: 100%;
  }
}

nav {
  max-width: 26em;
  margin: 1em auto;
  margin-bottom: 3em;
  font-size: $font-size-heading / $font-size-base * 100%;
  // font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    display: flex;
    flex-grow: 1;

    &::after {
      flex-grow: 1;
      text-align: center;
      // content: '\2E38';
    }

    &:last-child {
      flex-grow: 0;

      &::after {
        display: none;
      }
    }
  }
}

main {
  max-width: 24em;
  margin: 0 auto;
  padding: 0 1em;

  p {
    text-indent: 3em;

    &:first-child {
      text-indent: 0;
    }
  }
}

footer {
  padding: 2em 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  body {
    font-size: $font-size-base-mobile / 12 * 100%;
  }

  header {
    a {
      max-width: 230px;
    }
  }

  nav {
    font-size: $font-size-heading-mobile / $font-size-base-mobile * 100%;
  }
}
