<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"consentOnContinuedBrowsing":false,"whitelabel":false,"lang":"en","floatingPreferencesButtonIcon":true,"floatingPreferencesButtonColor":"#ffffff","floatingPreferencesButtonCaptionColor":"#010101","cookiePolicyId":10761404,"siteId":2165095, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"bottom","acceptButtonColor":"#ffffff","acceptButtonCaptionColor":"#010101","customizeButtonColor":"#212121","customizeButtonCaptionColor":"white","rejectButtonColor":"#ffffff","rejectButtonCaptionColor":"white","textColor":"#ffffff","backgroundColor":"#000001" }};
</script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      {{- if ne .Params.Title .Site.Title }}{{ .Site.Title }} {{ end -}}
      {{- if .Params.Title }}{{ htmlUnescape .Params.Title }}{{ end -}}
    </title>
    <meta name="viewport" content="width=device-width,minimum-scale=1" />

    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=News+Cycle&display=swap"
      rel="stylesheet"
    />
    {{ $style_main := resources.Get "sass/main.scss" | resources.ToCSS -}}
    {{ $bundle_styles := $style_main | resources.Minify | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $bundle_styles.Permalink }}" />

    <meta property="og:title" content="{{ .Site.Title }}" />
    <meta
      name="description"
      content="{{ if .Params.summary }}{{ .Params.summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    />
    <meta
      property="og:description"
      content="{{ if .Params.summary }}{{ .Params.summary | plainify | truncate 160 }}{{ else }}{{ .Site.Params.description }}{{ end }}"
    />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{- $socialImage := resources.Get .Site.Params.socialImage -}}
    <meta property="og:image" content="{{ $socialImage.Permalink }}" />
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/">
          <h1 class="sr-only">{{ .Site.Title }}</h1>
          {{ partial "200415_Rust_Logo_White.svg" }}
        </a>
      </header>
      <nav>
        <ul>
          {{ $currentPage := . -}} {{ range .Site.Menus.main -}}
          <li>
            <a
              class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"
              href="{{ .URL }}"
              >{{ .Name }}</a
            >
          </li>
          {{ end -}}
        </ul>
      </nav>
      <main>
        {{ block "main" . }}
        {{- .Content -}}
        {{ end }}
      </main>
      <footer>
        <p>
          <a href="{{ .Site.Params.instagram }}"
            >{{ partial "instagram.html" }}</a
          >
        </p>
      </footer>
    </div>
  </body>
</html>
