<p class="instafeed" id="js-instafeed">
  <a href="https://www.instagram.com/p/B94bJCNJV-E/" target="_blank" title="" style="background-image: url('/img/cake-1.jpg')"></a>
  <a href="https://www.instagram.com/p/B8jvs8KoTlx/" target="_blank" title="" style="background-image: url('/img/cake-2.jpg')"></a>
  <a href="https://www.instagram.com/p/B-aJIwZnOIk/" target="_blank" title="" style="background-image: url('/img/cake-3.jpg')"></a>
</p>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.0/dist/jquery.min.js"></script>
<script type="text/javascript">
  $.get('https://zapier.com/engine/rss/7443956/86270956', function (data) {
    $(data).find('item').slice(0, 9).each(function () {
      var el = $(this);
      var title = el.find('title').text();
      var link = el.find('link').text();
      var image = el.find('enclosure').attr('url');
      if (title && link && image) {
        $('#js-instafeed').append('<a href="'+encodeURI(link)+'" target="_blank" title="'+title+'" style="background-image: url(\''+encodeURI(image)+'\')" alt="'+title+'" /></a>');
      }
    });
  });
</script>
